# tox>=2.7.0
pep8>=1.7.1
logzero>=1.5.0  # see github.com/metachris/logzero
numpy>=1.14.0
pandas>-0.22.0
textract>=1.6.1
nltk>=3.2.5
gensim>=3.2.0
spacy>=0.101.0
textblob>=0.15.0
tensorflow>=1.6.0
keras>=2.1.5

tornado>=5.0.1
Flask>=0.12.2
connexion>=1.3
Flask-Injector>=0.10.1
fastavro>=0.17.9
#sphinx